---
layout: default
title: Max Bothe
permalink: /
---

<div class="full-flex-container">
    <div>
        <div class="persona">
            <div class="circle">
                <img alt="profile picture" src="{{ '/static/img/avatar.png' | prepend: site.baseurl }}"/>
            </div>
            <div>
                <h1>Max Bothe</h1>
                <p>based in Berlin, Germany</p>
                <p>computer science PhD student</p>
                <p>software engineer</p>
                <p>iOS developer</p>
            </div>
        </div>

        <div id="external-links" >
            <div>
                <a href="http://www.maxbothe.de/cv/maxbothe-cv.pdf">
                    <div class="item">
                        {% include icons/ios-body.svg %}
                    </div>
                </a>
            </div>
            <div>
                <a href="https://de.linkedin.com/in/maxbothe">
                    <div class="item">
                        {% include icons/logo-linkedin.svg %}
                    </div>
                </a>
            </div>
            <div>
                <a href="https://github.com/mathebox">
                    <div class="item">
                        {% include icons/logo-github.svg %}
                    </div>
                </a>
            </div>
            <div>
                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%69%40%6D%61%78%62%6F%74%68%65%2E%64%65">
                    <div class="item">
                        {% include icons/ios-mail.svg %}
                    </div>
                </a>
            </div>
            <div>
                <a href="https://hpi.de/meinel/lehrstuhl/team-fotos/current-phd-students/max-bothe.html">
                    <div class="item">
                        {% include icons/ios-school.svg %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
