/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


div.circle {
  width: $circle-width-md;
  height: $circle-width-md;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: $main-color;
  border: 1px solid $main-color;
  @include box-shadow(0, 1px, 3px, rgba(0,0,0, $shadow-alpha));

  &.circle-large {
    margin: auto;
    margin-bottom: 15px;
    width: $circle-width-lg;
    height: $circle-width-lg;

  }

  i {
    font-size: 4.5em;
    line-height: 1.9em;
    color: $background-color;
    text-shadow: none; /* Prevent inheritence from `body` */
  }

  img {
    width: 300px;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-clip-path: circle(calc(50% - 8px) at 50% 50%);
    clip-path: circle(calc(50% - 8px) at 50% 50%);
  }
}

.cover {
  margin: 0 auto;
  padding: 8px;
  padding-top: 57px;
  min-height: calc(100% - 72px);
  height: calc(100% - 72px);
  display: table;

  .cover-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  div.persona {
    @extend %flexbox;
    @include flex-direction(column);
    @include flex-wrap(wrap);

    h1 {
      font-size: 4em;
      text-align: center;
      margin-top: 0px;
    }

    p {
      text-align: center;
      font-size: 1.5em;
    }
  }

  div.error404 {
    h2 {
      font-size: 9em;
      font-weight: 100;
    }

    p {
      font-size: 1.8em;
      font-weight: 200;
    }
  }
}

div#external-links {
  @extend %flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  padding-top: 16px;

  & > div {
    padding-bottom: 24px;
    margin: 0 8px;
    z-index: 20;

    &:hover {
      z-index: 1;
    }
  }

  div.circle {
    margin: auto;
  }

  a:hover, a:focus {
    & > div.circle {
      box-shadow: 0 0 20px 20px #FFFFFF;
      background: darken($main-color, 3%);
    }
  }
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: $main-color;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: $background-color;
  background-color: $main-color;
  border: 1px solid $main-color;
}

.panel-primary {
  border-color: $main-color;
  & > .panel-heading {
    border-color: $main-color;
    background-color: $main-color;
  }
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: $background-color;
}
body {
  color: $main-color;
  text-align: center;
  font-family: $base-font-family;
  font-weight: 300;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  @include box-shadow(0, 0, 100px, rgba(0,0,0, $shadow-alpha), inset);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
  height: 100%;
}

/* Padding for spacing */
.inner {
  padding: 0 16px;
}


.masthead,
.mastfoot,
.cover,
.cover-container {
  width: 100%;
  margin: 0 auto;
}

.masthead {
  position: fixed;
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
  z-index: 20;
}

/*
 * Header
 */
.mastfoot {
  color: mix($main-color, $background-color, 50%); /* IE8 proofing */
  color: rgba(red($main-color), green($main-color), blue($main-color),.5);
}

.footer {
  height: 72px;

  & > div {
    @extend %flexbox;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include justify-content(space-around);
    line-height: 20px;

    a, a:hover, a:focus {
      text-decoration: none;
    }

    #small-external-links {
      font-size: 20px;
    }

    & > div {
      @include flex-basis(1);
      @include flex-grow(1);
      text-align: center;
      @include order(1);
      margin-bottom: 4px;

      &:first-child {
        @include order(2);
      }

      &:last-child {
        @include order(3);
      }
    }
  }

  p {
    margin: 0;
  }
}

.masthead-brand {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  @include no-selection;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.masthead-nav {
  float: right;
  margin-top: 4px;

  & > li {
    display: inline-block;

    a {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      font-weight: bold;
      color: mix($main-color, $background-color, 25%); /* IE8 proofing */
      color: rgba(red($main-color), green($main-color), blue($main-color), .75);
      border-bottom: 2px solid transparent;

      &:hover, &:focus {
        background-color: transparent;
        border-bottom-color: mix($main-color, $background-color, 75%);
        border-bottom-color: rgba(red($main-color), green($main-color), blue($main-color),.25);
      }
    }

    & > .active {
      a, a:hover, a:focus {
        color: $main-color;
        border-bottom-color: $main-color;
      }
    }
  }

  & > li + li {
    margin-left: 20px;
  }
}

// sm
@include media-query(768px) {
  .masthead {
    position: relative;
    border-bottom: none;
    background-color: transparent;
  }

  .inner {
    padding: 30px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover,
  .cover-container {
    width: 700px; /* Must be percentage or pixels for horizontal alignment */
  }

  .masthead-nav {
    margin-top: 2px;
  }

  div.circle.circle-large {
    margin-left: 0;
  }

  div#external-links {
    padding-top: 16px;
    @include justify-content(space-between);

    & > div {
      margin: 0;
    }
  }


  .cover {
    padding: 0 20px;
    min-height: calc(100% - 166px);
    height: calc(100% - 166px);

    div.persona {
      @include flex-direction(row);
      text-shadow: 0 1px 3px rgba(0,0,0, $shadow-alpha);

      p {
        text-align: right;
      }
      h1 {
        font-size: 5em;
        text-align: right;
      }
    }

    div.error404 {
      h2 {
        font-size: 12em;
      }

      p {
        font-size: 2em;
      }
    }
  }

  .footer {
    height: 90px;

    & > div {
      @include flex-direction(row);
      @include justify-content(space-between);

      & > div {
        @include order(2);

        &:first-child {
          text-align: left;
          @include order(1);
        }

        &:last-child {
          text-align: right;
          @include order(3);
        }
      }
    }
  }
}

// md
@include media-query(992px) {
  .masthead,
  .mastfoot,
  .cover,
  .cover-container {
    width: 800px;
  }

  .cover {
    div.persona {
      h1 {
        font-size: 6em;
      }
    }
  }
}
