:root {
    color-scheme: light dark;
    --main-color: #2E679A;
    --background-color: #EFEEEE;
    --border-color: rgba(255,255,255,0.20);
    --dark-shadow-color: rgba(217,210,200,0.51);
    --light-shadow-color: rgba(255,255,255,0.83);
    --dark-shadow-color-raised: rgba(217,210,200,0.8);
    --light-shadow-color-raised: rgba(255,255,255,0.99999);
    --dark-shadow-color-still: var(--dark-shadow-color-raised);
    --light-shadow-color-still: var(--light-shadow-color-raised);
    --text-shadow-alpha: 0.15;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --main-color: #508bb6;
        --background-color: #252525ff;
        --border-color: rgba(35,35,35,0.10);
        --dark-shadow-color: rgba(0,0,0,0.4);
        --light-shadow-color: rgba(77,74,70,0.3);
        --dark-shadow-color-raised: rgba(0,0,0,0.5);
        --light-shadow-color-raised: rgba(77,74,70,0.35);
        --dark-shadow-color-still: var(--dark-shadow-color);
        --light-shadow-color-still: var(--light-shadow-color);
        --text-shadow-alpha: 0.75;
    }
}

html,
body {
    height: 100%;
}

body {
    color: var(--main-color);
    font-family: $base-font-family;
    font-weight: 300;
    background-color: var(--background-color);
    margin: 0;
}

.hidden {
    display: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    height: 100%;
    padding: 0 16px;

    display: flex;
    flex-direction: column;

    @include media-query($breakpoint-md) {
        width: 700px;
    }

    @include media-query($breakpoint-lg) {
        width: 800px;
    }
}

header {
    height: 28px;
    padding: 16px 0;

    .logo {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
    }
}

main {
    flex: auto;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

a,
a:focus,
a:hover {
    color: var(--main-color);
}

footer {
  padding: 16px 0;
    font-size: 12px;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    gap: 4px;

    @include media-query($breakpoint-md) {
        flex-direction: row;
    }

    a, a:hover, a:focus {
        text-decoration: none;
    }

    p {
        margin: 0;
    }

    & > div {
        flex-basis: 0;
        flex-grow: 1;
        order: 1;

        @include media-query($breakpoint-md) {
            order: 2;
        }

        &:first-child {
            order: 2;

            @include media-query($breakpoint-md) {
                text-align: left;
                order: 1;
            }
        }

        &:last-child {
            order: 3;

            @include media-query($breakpoint-md) {
                text-align: right;
            }
        }
    }

    #small-external-links {
        svg {
            height: 1.5rem;
            transform: translateY(10%);

            path, ellipse {
                fill: var(--main-color);
            }
        }
    }
}
