---
layout: default
---
<div class="container-fluid no-margin-padding">
    <div class="row">
        <div class="col-md-10">
            <h1 data-toc-skip>{{ page.title }}</h1>
            {{ content }}
        </div>
        <div class="col-md-2 no-margin-padding hidden-xs hidden-sm hidden-print">
            <nav id="toc" data-toggle="toc" data-spy="affix" data-offset-top="50"></nav>
        </div>
    </div>
</div>

<script src="{{ '/static/js/bootstrap-toc.min.js' | prepend: site.baseurl }}"></script>
